@font-face {
    font-family: 'Bodoni_Moda';
    src: local('Bodoni_Moda'), url(./fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz,wght.ttf) format('truetype');
}

@font-face {
    font-family: "Europa"; 
    src: url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.eot"); 
    src: url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.woff") format("woff"), url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/23c0fcab84d99da0de762de7e220a6e1.svg#Europa") format("svg");
}

body{
  background-color: #ffffff;
  box-sizing: border-box;
  margin:0;
}
  
section:nth-child(n+4){
  margin-top:20vh;
}

p,a{
  font-family: Europa, sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: Bodoni_Moda, Arial, serif;
}

.title {
  font-size: 4rem;
  line-height: 66px;
}
.centrelizeText{
  text-align: center;
}

.primaryButton{
  border:1px solid black;
  padding:15px 30px;
  font-family: europa, sans-serif;
  font-size: 0.5rem;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.3em;
  color:black;
  background-color: transparent;
  cursor: pointer;
}

.primaryButton:hover{
  border:1px solid black;
  color:rgb(226, 226, 226);
  background-color: #333333;
}

.buttonWithImage{
  margin-top: 40px;
  background-color: transparent;
  border:none;
  outline:none;
  cursor:pointer;
}

.descriptionDiv p{
  font-size: 1rem;
  line-height: normal;
  color: rgb(0,0,0);
  font-weight:lighter;
  line-height: 2rem;
}

.subDescription{
  background-color: #e7e7e9d2;
  width: fit-content;
  margin:auto;
  font-size: 0.8rem;
  margin-bottom:3px;
  letter-spacing: 2px;
}

.margin-top-2rem{
  margin-top: 2rem;
}

.hover-underline-animation {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  color: #000000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}